*,
*:after,
*::before {
	.box-sizing(border-box);
}

html {
	background: url("img/bg.png") repeat;
}

body {
	margin: 0;
	padding: @tile-margin * 2;
	font-family: @font;
	background-color: none;
}

img {
	max-width: 100%;
}


// ITEMS

.item {
	position: relative;
	float: left;
	width: @tile;
	height: @tile;
	margin: @tile-margin;

	> * {
		margin: 0;
		padding: 0;
	}
}

.x-1 { width:  @tile; }
.y-1 { height: @tile; }
.x-2 { width:  @tile2; }
.y-2 { height: @tile2; }
.x-4 { width:  @tile4; }
.y-4 { height: @tile4; }
.x-6 { width:  @tile6; }
.y-6 { height: @tile6; }

.tile {
	background-color: @color-tile-bg;
	padding: 10px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.post {
	&:extend(.tile);
	width: @tile4;
	height: @tile4;
	overflow: hidden;

	small {
		font-style: italic;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: @tile-margin * 8;
		#gradient > .vertical(@start-color: fade(@color-tile-bg, 0%); @end-color: @color-tile-bg);
	}

	.label {
		cursor: pointer;
	}
}


// PAGES

#masonry {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

#post {
	&:extend(.tile);
	margin: @tile-margin;

	h1, h2 {
		margin-top: 0;
	}

	.categories {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.label {
		cursor: pointer;
	}

	@media only screen and (min-width: (@screen-break)) {
		margin-left: @tile4 + @tile-margin * 3;
	}

	@media only screen and (max-width: (@screen-break - 1px)) {
		margin-top: @tile2 + @tile-margin * 3;
	}
}


// OTHER STUFF

p.desc {
	margin-top: 8px;
}

// Fix for x-editable
.editable-empty {
	font-style: inherit !important;
	color: #428bca !important;
}

#filter-tile {
	font-size: 16px;
}

#logo {
	position: absolute;
	top: @tile-margin * 3;
	left: @tile-margin * 3;
	width: @tile4;
	height: @tile2;
	z-index: 9999;

	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.sticky {
	@media only screen and (min-width: (@screen-break)) {
		position: fixed !important;
	}
}
