.label {
	cursor: pointer;
}

.item {
	> * {
		margin: 0;
		padding: 0;
	}
}

.post {
	.tile-bg();
	width: @tile4;
	height: @tile4;
	overflow: hidden;

	small {
		font-style: italic;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: @tile-margin * 20;
		border-bottom: @tile-margin * 4 solid @color-tile-bg;
		#gradient > .vertical(@start-color: fade(@color-tile-bg, 0%); @end-color: @color-tile-bg);
	}

	a.label {
		margin-right: 4px;
	}

	.desc {
		margin-top: 8px;
	}
}

#post {
	.wrap-sidebar(3);
	margin: @tile-margin;

	.content, .comments, .share {
		.tile-bg();
	}

	.comments, .share {
		margin-top: @tile-margin * 2;
	}

	h1, h2 {
		margin-top: 0;
	}

	.categories {
		font-size: @font-size-large;
		margin-bottom: @tile-padding;
	}

	a.label {
		margin-right: 6px;
	}
}


// OTHER STUFF

// Horizontally scrolling code blocks
pre {
	overflow-x: auto;

	code {
		word-wrap: normal;
		white-space: pre;
	}
}

// Put a little room below videos
.embed-responsive {
	margin-bottom: 10px;
}

// Fix share button formatting
.share-button {
	display: inline-block;
}

.share-button > iframe, .fb_iframe_widget > span {
	vertical-align: top !important;
}
