<div sidebar>
	Welcome to my blog! You are currently viewing
	<a href="#" buttons="no" editable-text="filter.search">{{ filter.search || 'all' }}</a>
	notes about
	<a href="#" buttons="no" editable-select="filter.category" e-ng-options="c for c in categories | orderBy:'toString()'">{{ filter.category }}</a>
	between
	<a href="#" editable-date="filter.start">{{ filter.start || 'the Big Bang' }}</a>
	and
	<a href="#" editable-date="filter.end">{{ filter.end || 'tomorrow' }}</a>.
</div>
<div id="masonry" masonry column-width="72">
	<div class="masonry-brick item post" ng-repeat="post in posts | filter:filterPosts(filter) | orderBy:'-date'">
		<h3><a ng-href="#!post/{{ post.url }}">{{ post.title }}</a></h3>
		<small>{{ post.date | date:'EEEE, MMMM d y' }}</small>
		<div class="categories">
			<span ng-repeat="category in post.categories">
				<span class="label" ng-style="{'background-color': getCategoryColor(category)}" ng-click="setCategory(category)">{{ category }}</span>
			</span>
		</div>
		<p class="desc" ng-bind-html="renderHtml(post.more)"></p>
	</div>
</div>
