<div id="post">
	<h1>{{ post.title }}<br><small>{{ post.date | toDate | date:'EEEE, MMMM d y' }}</small></h1>
	<div class="categories">
		<span ng-repeat="category in post.categories">
			<span class="label" ng-class="getCategoryClass($index)" ng-click="setCategory(category)">{{ category }}</span>
		</span>
	</div>
	<div ng-include="postSrc"></div>
	<hr>
	<h2>Comments</h2>
	<!-- DISQUS -->
	<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
