extends ./base.jade

append head
	link(rel='stylesheet', type='text/css', href='/main.css')

append footer
	script(type='text/javascript', src='/main.js')

block content
	#sidebar
		object(width='100%', type='image/svg+xml', data='/img/willyg-blog-logo.svg')
		.colophon
			p
				input#search.form-control(type='text', placeholder='Search', onkeydown="setSearch(event);")
			p
				block colophon
		.nav
			a(href='http://willyg302.github.io/#') Home
			a.active(href='/') Blog
			a(href='http://willyg302.github.io/#projects') Projects
			a(href='http://willyg302.github.io/#about') About
			a(href='http://willyg302.github.io/#contact') Contact
		.controls
			| 
			a(href='/') Blog Home
			|  &middot; 
			a(href='/feed.xml') RSS
	block pageContent
