extends ./base.jade

append head
	link(rel='stylesheet', type='text/css', href='/blog/main.css')

append footer
	script(type='text/javascript', src='/blog/main.js')

block content
	.sidebar-wrapper
		.sidebar
			object(width='100%', type='image/svg+xml', data='/blog/img/willyg-blog-logo.svg')
			.colophon
				p
					block colophon
			.nav
				a(href='/blog') Blog Home
				a(href='/blog/feed.xml') RSS Feed
				a(href='/#') Site
				a(href='/#contact') Contact
	block pageContent
